body{
    margin:0;
    font-family: "Heebo", sans-serif;
    
}
.container{
    width: 1440px;
    max-width: 90%;
    margin: auto;
}
header{
    height: 70px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}
header section.logo{
    font-size: 27px;
}
header section.logo span.blue-point{
    background-color: #33C6DD;
    height: 10px;
    width: 10px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;

}
header nav ul{
    list-style-type: none;
    margin:0;
    padding: 0;
}
header nav ul li{
    display:inline-block;
    margin-left: 26px;
    }

header nav ul li.menu-icon{
    display:none;
}

header nav ul li a{
    text-decoration: none;
    color: #3E3E3E;
    font-size: 15px;
    }

header nav ul li a:hover{
    color: #33C6DD;
    }

header nav ul li:first-of-type{
        margin-left: 0;
    }

header .container{
    height:  100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section.hero {
    position: relative;
}

section.hero img{
    width: 100%;
    height: auto;
    
}

section.hero .hero-content{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

section.hero .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

section.hero h1,
section.hero p{
    color: white;
    max-width:495px;
    margin-top: 0;
    margin-bottom: 20px;
}

section.hero h1{
    font-weight: 400;
    font-size: 50px;
    line-height: 56px;
}

section.hero p{
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
}

section.hero button{
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color:#33C6DD;
    color: white;
    border: #33C6DD solid;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}

section.hero button:hover{
    background-color:white;
    color: #33C6DD;
    
}

section.best-sellers{
    padding-top: 80px;
    
}

section.best-sellers h2{
    margin: 0 0 14px 0;
    font-size: 34px;
    letter-spacing: 0.85px;
    line-height: 42px;
    font-weight: 400;
    text-align: center;
}

section.best-sellers hr{
    width: 66px;
    border: none;
    border-top: 5px solid #33c6dd;
}

section.best-sellers .product-slider{
    margin-top: 76px;
}

section.best-sellers .container {
    display: flex;
    justify-content: space-around;
    padding: 0 8px;
}
section.best-sellers .product-slider .product {
    border: 1px solid #DDD;
    border-radius: 8px;
    width: 33%;
    text-align: center;
    padding: 40px;
    margin: 0 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

section.best-sellers .product-slider .product img{
    max-width: 100%;
}


section.best-sellers .product-slider .product.new::before{
    top: 12px;
    right: 12px;
    position: absolute;
    content:"New";
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    letter-spacing: 0.35px;
    text-align: center;
    background-color: #614DC9;
    padding: 5px 26px;
    color: white;
    border-radius: 16px;
    margin: 0;

}

section.best-sellers .product-slider .product .product-info{
    margin-top: 50px;
}
section.best-sellers .product-slider .product h5{
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color:#33C6DD;
    margin-top: 0;
    margin-bottom: 10px;
}

section.best-sellers .product-slider .product h4{
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color:#000000;
    margin-top: 0;
    margin-bottom: 10px;
}

section.best-sellers .product-slider .product .price {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;

}

section.best-sellers .product-slider .product .price h3{
    font-weight: bold;
    font-size: 28px;
    line-height: 30px;
    color:#000000;
    margin-top: 0;
    margin-bottom: 0px;

}

section.best-sellers .product-slider .product .price span.original-price{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0 10px;
    width: 74.5;
    text-decoration: line-through;
    border-width: 1px;
    color: #9B9B9B;


}

section.best-sellers .product-slider .product .price.discount h3{
    color:#EC1C1C ;
    opacity: 70%;
}

section.best-sellers .product-slider .product button{
    width: 220px;
    max-width: 100%;
    height: 44px;
    gap: 10px;
    border-radius: 25px;
    padding: 10px;
    background-color: transparent;
    border:1px solid #000000;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    cursor: pointer;
}

section.best-sellers .product-slider .product:hover button{
    background-color: #33C6DD;
    color: white;
    border-color: #33C6DD;
}

section.newsletter{
    width: 950px;
    max-width: 100%;
    background-color: #f5f5f5;
    margin: 80px auto;
    padding: 70px 0;
    text-align: center;
}

section.newsletter h3{
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 42px;
}

section.newsletter p{
    margin: 10px 0 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

section.newsletter input[type=email]{
    width: 320px;
    height: 48px;
    font-size: 14px;
    background-color: transparent;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 1px solid #000000;
    padding: 0;
    padding-left: 24px;
    box-sizing: border-box;
}

section.newsletter input[type=email]::placeholder{
    color: #3E3E3E;
}

section.newsletter button[type=submit]{
    height: 48px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 0 36px;
    font-size: 14px;
    background-color: #614DC9;
    color: white;
    border: 1px solid #614DC9;
    text-transform: uppercase;
}

section.newsletter button[type=submit]:hover{
    background-color: white;
    color: #614DC9;
    border: 1px solid #3E3E3E;
    cursor: pointer;
}

footer{
    background-color: #3E3E3E;
    padding: 60px 0;
    color: #FFFFFF;
}
footer .container{
    display: flex;
    justify-content: space-between;
    width: 950px;
    max-width: 100%;
}

footer .container ul{
    width: 25%;
    list-style-type: none;
    margin: 0;
    padding: 0;


}

footer .container li.Title{
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

footer .container li{
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

footer .container ul li:last-of-type{
    margin-bottom: 0;

}

footer .container li a{
    color: #E0E0E0;
    text-decoration: none;
}

footer .container li :hover{
    color: #33C6DD;
}

section.copyright{
    text-align: center;
    color: white;
    background-color: #2B2B2B;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding: 20px 0;
    margin: 0;
}

/* ###################### */
/* Styles for smaller Desktop */
/* ###################### */

@media screen and (max-width: 1440px) {
    .container{
        width: 1180px;
        max-width: 90%;
    }

    section.hero h1,
    section.hero p{
        margin-bottom: 12px;
    }

    section.hero h1{
        font-size: 44px;
        line-height: 50px;
    }

    section.hero p{
        font-size: 18px;
        line-height: 26px;
    }

    section.hero button{
        width: 220px;
        font-size: 14px;
        line-height: 21px;
    }

    section.best-sellers .product-slider{
    margin-top: 70px;
    }

    section.best-sellers .product-slider .product {
        margin: 0 12px;
    }

    section.best-sellers .product-slider .product.new::before{
        top: 11px;
        padding: 2px 20px;
    }

    section.best-sellers .product-slider .product .product-info{
        margin-top: 40px;
    }
    section.best-sellers .product-slider .product h5{
        margin-bottom: 7px;
    }

    section.best-sellers .product-slider .product h4{
        font-size: 16px;
        margin-bottom: 5px;
    }

    section.best-sellers .product-slider .product .price {
        margin-bottom: 6px;

    }

    section.best-sellers .product-slider .product .price h3{
        font-size: 24px;
    }

    section.best-sellers .product-slider .product .price span.original-price{
        font-size: 14px;
        line-height: 21px;
        margin: 0 10px;
        width: 74.5;
    }


    section.best-sellers .product-slider .product button{
        width: 180px;
        height: 41px;
        font-size: 14px;
        line-height: 21px;
    }
    
    

    section.newsletter{
    width: 880px;
    margin: 70px auto;
    padding: 50px 0;
    }

    section.newsletter h3{
        font-size: 22px;
        line-height: 42px;
    }

    section.newsletter p{
        margin: 10px 0 15px;
        font-size: 14px;
        line-height: 21px;
    }

    section.newsletter input[type=email]{
        width: 326px;
        height: 46px;
        font-size: 12px;
        padding-left: 18px;
    }


    section.newsletter button[type=submit]{
        height: 46px;
        padding: 0 41px;
        font-size: 11px;
    }


    footer{
    padding: 50px 0;
    }
    footer .container{
    width: 1180px;
    max-width: 90%;
    }


    footer .container li.Title{
        margin-bottom: 12px;
        font-size: 16px;
    }

    footer .container li{
        font-size: 14px;
        line-height: 21px;
    }

    section.copyright{
        font-size: 14px;
        padding: 14px 0;
    }




    }

/* ###################### */
/* Styles for Tablet */
/* ###################### */

@media screen and (max-width: 960px) {
    .container{
    width: 92%;
    max-width: 92%;
    }

    header nav ul li{
        display:none;
    }

    header nav ul li.menu-icon{
        display:inline-block;
    }


    section.hero h1{
        font-size: 40px;
        line-height: 46px;
    }

    section.hero p{
        font-size: 16px;
        line-height: 24px;
    }

    section.hero button{
        width: 196px;
    }

    section.best-sellers h2{
        margin-bottom: 12px;
        font-size: 28px;
        line-height: 38px;
    }

    section.best-sellers hr{
        width: 66px;
    }

    section.best-sellers .product-slider{
    margin-top: 48px;
    }

    section.best-sellers .product-slider .product {
        margin: 0 9px;
    }

    section.best-sellers .product-slider .product.new::before{
        top: 6px;
        right: 6px;
        padding: 0.5px 13.5px;
    }

    section.best-sellers .product-slider .product .product-info{
        margin-top: 30px;
    }
    section.best-sellers .product-slider .product h5{
        font-size: 11px;
        margin-bottom: 5px;
    }

    section.best-sellers .product-slider .product h4{
        font-size: 13px;
        margin-bottom: 7px;
    }

    section.best-sellers .product-slider .product .price {
        margin-bottom: 8px;

    }

    section.best-sellers .product-slider .product .price h3{
        font-size: 16px;
    }

    section.best-sellers .product-slider .product .price span.original-price{
        font-size: 9px;
        line-height: 30px;
        margin: 0 10px;
        width: 56;
    }


    section.best-sellers .product-slider .product button{
        width: 146px;
        height: 36px;

        font-size: 12px;
        line-height: 18px;
        padding: 9px 30px;
    }
    
    

    section.newsletter{
        width: 100%;
        margin: 48px 0;
    }

    section.newsletter h3{
        font-size: 22px;
        line-height: 42px;
    }



    footer .container{
        width: 92%;
        max-width: 92%;
    }



}

/* ###################### */
/* Styles for Mobile phone */
/* ###################### */

@media screen and (max-width: 576px) {
    .container{
        width: 92%;
        max-width: 92%;
    }

    section.hero .container{
        align-items: center;
    }

    section.hero .hero-content{
        position: initial;
    }



    section.hero h1{
        text-align: center;
        margin: 26px 0 32px;
        font-size: 34px;
        line-height: 38px;
        color:black;
    }

    section.hero p{
        display: none;
    }

    section.best-sellers .container {
        flex-wrap: wrap;

    }

    section.best-sellers .product-slider{
        margin-top: 64px;
    }

    section.best-sellers .product-slider .product {
        width:100%;
        margin-bottom: 24px;       
    }

    section.best-sellers .product-slider .product:last-of-type{
        margin-bottom: 0;       
    }

    section.best-sellers .product-slider .product.new::before{
        top: 11px;
        padding: 2px 20px;
    }

    section.best-sellers .product-slider .product h4{
        font-size: 14px;
        margin-bottom: 7px;
    }

    section.best-sellers .product-slider .product .price h3{
        font-size: 20px;
    }

    section.best-sellers .product-slider .product .price span.original-price{
        font-size: 11px;
    }


    section.best-sellers .product-slider .product button{
        width: 193px;
        height: 36px;
        max-width: 100%;
        font-size: 12px;
        line-height: 18px;
    }
    
    

    section.newsletter{
        width: 100%;
        margin: 64px auto;
        padding: 44px 0;
    }

    section.newsletter input[type=email]{
        width: 210px;
        height: 50px;
    }


    section.newsletter button[type=submit]{
        height: 50px;
        padding: 0 19px;
        font-size: 12px;
    }


    footer{
        padding: 48px 0;
    }

    footer .container li{
        line-height: 18px;
    }

    footer .container{
        flex-direction: column;
        align-items: center;
    }

    footer .container ul{
        text-align: center;
        margin-bottom: 32px;
        width: 100%;

    }
    footer .container ul:last-of-type{
        margin-bottom: 0;
    }



}



